<div class="item">
  <a href="<%= url %>/<%= category.id %>" class="name"><%= category.name %></a>
  <div class="actions">
    <a href="<%= url %>/<%= category.id%>/update" class="update">Update</a>
    <a href="<%= url %>/<%= category.id%>/delete" class="delete">Delete</a>
  </div>
</div>