<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
</head>

<body>
  <h1><%= heading %></h1>
  <div class="list">
    <% if (heading == "Volumes") { %>
    <% categories.forEach( category => { %>
    <%- include('volume', {url: url, category: category}); %>
    <% }); %>
    <% } else { %>
    <a href="<%= url %>/create">Add a <%= add %></a>
    <% categories.forEach( category => { %>
    <%- include('category', {url: url, category: category}); %>
    <% }); %>
    <% } %>
  </div>
</body>

</html>