<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/category.css">
</head>

<body>
  <h1><%= heading %></h1>
  <%- include("errors.ejs") %>
  <div class="list">
    <% if (heading == "Volumes") { %>
    <% categories.forEach( category => { %>
    <%- include('volume', {url: url, category: category}); %>
    <% }); %>
    <% } else { %>
    <a href="<%= url %>/create" class="add">Add a <%= add %></a>
    <% categories.forEach( category => { %>
    <%- include('category', {url: url, category: category}); %>
    <% }); %>
    <% } %>
    <a href="/" class="navigation">Back Home</a>
  </div>
</body>

</html>