<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= backpack.name %> - <%= company.name %></title>
</head>

<body>
  <h1><%= company.name %> - <%= backpack.name %></h1>
  <div class="list">
    <div>Name: <%= backpack.name %></div>
    <div>Brand: <%= company.name %></div>
    <div>Designed in: <%= company.country %></div>
    <div>Type: <%= backpack.type %></div>
    <div>Volume: <%= backpack.volume %>L</div>
  </div>
</body>

</html>